@using MaskShop.PagesCore.Common.Extensions
@model MaskShop.PagesCore.ShopClient.Orders.BasketItemsClientPage;

<body>
    @Html.Editor(m => m.Item.Quantity)
    @Html.DropDown(m => m.Item.ProductId, Model.Products)
    @Html.DropDown(m => m.Item.BasketId, Model.Baskets)
</body>
