@using MaskShop.PagesCore.Common.Aids
@using MaskShop.PagesCore.Common.Extensions
@using Microsoft.AspNetCore.Http.Extensions
@{
    var protocol = Context.Request.Scheme;
    var host = Context.Request.Host;
    var pBase = Context.Request.PathBase;
    var hostComponent = Context.Request.Host.ToUriComponent();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MaskShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <base href="/">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @Html.DropMenu("Admin",
                            new Link("Products", new Uri("/Shop/Products/Index?handler=index", UriKind.Relative)),
                            new Link("Product categories", new Uri("/Shop/ProductCategories/Index?handler=index", UriKind.Relative)),
                            new Link("Product features", new Uri("/Shop/ProductFeatures/Index?handler=index", UriKind.Relative)),
                            new Link("Features applicability", new Uri("/Shop/ProductFeatureAppl/Index?handler=index", UriKind.Relative)),
                            new Link("Inventory", new Uri("/Shop/InventoryItems/Index?handler=index", UriKind.Relative)),
                            new Link("Pricing", new Uri("/Shop/PriceComponents/Index?handler=index", UriKind.Relative)),
                            new Link("Orders", new Uri("/Shop/Orders/Index?handler=index", UriKind.Relative)),
                            new Link("Baskets", new Uri("/Shop/Baskets/Index?handler=index", UriKind.Relative)),
                            new Link("Roles", new Uri("/Shop/PartyRoles/Index?handler=index", UriKind.Relative)),
                            new Link("Contacts", new Uri("/Shop/ContactMechanisms/Index?handler=index", UriKind.Relative)),
                            new Link("Parties", new Uri("/Shop/Parties/Index?handler=index", UriKind.Relative))
                            )
                        @Html.DropMenu("Client",
                            new Link("Products", new Uri("/Client/Products/Index?handler=index", UriKind.Relative)),
                            new Link("My Data", new Uri("/Client/Parties/Index?handler=index", UriKind.Relative)),
                            new Link("My Contact Data", new Uri("/Client/ContactMechanisms/Index?handler=index", UriKind.Relative)),
                            new Link("My Baskets", new Uri("/Client/Baskets/Index?handler=index", UriKind.Relative)),
                            new Link("My Basket Items", new Uri("/Client/BasketItems/Index?handler=index", UriKind.Relative)),
                            new Link("My Orders", new Uri("/Client/Orders/Index?handler=index", UriKind.Relative)),
                            new Link("My Order Items", new Uri("/Client/OrderItems/Index?handler=index", UriKind.Relative))
                            )
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - CALA - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="_framework/blazor.server.js"></script>
    <script src="_content/BlazorStrap/blazorStrap.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
