@using MaskShop.Domain.Products
@using MaskShop.Facade.Products
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components


<virtualize>
    @foreach (var item in Items)
    {
        <div class="card-header">
            <p>>@item.Name</p>
            <div class="card-footer">
                <p>Order</p>
            </div>
        </div>
    }
</virtualize>


@code {
    [Parameter] public List<ProductView> Items { get; set; }
}