@using MaskShop.PagesCore.Common.Extensions;
@model MaskShop.PagesCore.ShopClient.Parties.PartiesClientPage;

<body>
    @Html.Editor(m => m.Item.Name)
    @Html.DropDown(m => m.Item.ContactMechanismId, Model.ContactMechanisms)
    @Html.Editor(m => m.Item.ValidFrom)
    @Html.Editor(m => m.Item.ValidTo)
</body>
