@page
@using MaskShop.PagesCore.Common.Aids
@using MaskShop.PagesCore.Common.Consts
@using MaskShop.PagesCore.Common.Extensions
@model MaskShop.PagesCore.ShopClient.Parties.PartiesClientPage;

@{
    Layout = "_PartyIndex";
    var page = Model.PageUrl;
}

@section Create {
    @if (!Model.HasData())
    {
        @Html.Link(string.Empty, new Link(Captions.Create, Model.CreateUrl))
    @*<h4>@Html.Link(string.Empty, new Link("Edit My Contacts", Model.ContactsUrl))</h4>*@
    }

}

@Html.ShowTable(Model)
