@page "/testlist"

@using BlazorApp.Client.Configuration.Datagrid
@using MaskShop.Domain.Products
@using Microsoft.AspNetCore.SignalR.Client

@inject NavigationManager NavigationManager
@inject HttpClient HttpClient


<h3>Testing DataGrid</h3>

<br />
<DataGridComponent TItem="Product"
                   DataItems="productsList"
                   Columns="columnsDefinition"
                   Paging="@(new PagingConfig {
                               Enabled = true,
                               CustomPager = false,
                               PageSize = 3
                           })"></DataGridComponent>

@code {

    private List<Product> productsList;
    private List<ColumnDefinition> columnsDefinition;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Initialize();

    }


    private void Initialize()
    {
        if (columnsDefinition == null)
        {
            columnsDefinition = new List<ColumnDefinition>();
            columnsDefinition.AddRange(
                new ColumnDefinition[] {
                    new ColumnDefinition { DataField = "Id", Caption="Product Id" },
                    new ColumnDefinition { DataField = "Name", Caption="Name"},
                    new ColumnDefinition { DataField = "ProductCategoryId", Caption="Category Id", SortDirection = SortDirection.Desc},
                    new ColumnDefinition { DataField = "From", Caption="Valid From", Format = "yyyy/MM/dd", DataType = DataType.Date },
                    new ColumnDefinition { DataField = "To", Caption="Valid To"},
                    }
            );
        }

        if (productsList == null)
        {
            productsList = new List<Product>();
            productsList.AddRange(
                new Product[]
                {
                    new Product
                    {
                        Id = "1",
                        Name = "Two Layer Mask",
                        ProductCategoryId = "REU002",
                        ValidFrom = DateTime.Now,
                        ValidTo = DateTime.Now
                    },
                    new Product
                    {
                        Id = "2",
                        Name = "Three Layer Mask",
                        ProductCategoryId = "REU003",
                        ValidFrom = DateTime.Now,
                        ValidTo = DateTime.Now
                    },
                    new Product
                    {
                        Id = "3",
                        Name = "Single Use Mask",
                        ProductCategoryId = "SIN001",
                        ValidFrom = DateTime.Now,
                        ValidTo = DateTime.Now
                    },
                    new Product
                    {
                        Id = "4",
                        Name = "Single Use Plastic Mask",
                        ProductCategoryId = "SIN002",
                        ValidFrom = DateTime.Now,
                        ValidTo = DateTime.Now
                    },
                    new Product
                    {
                        Id = "5",
                        Name = "Single Use 3M Mask",
                        ProductCategoryId = "SIN003",
                        ValidFrom = DateTime.Now,
                        ValidTo = DateTime.Now
                    },
                    new Product
                    {
                        Id = "6",
                        Name = "Medical Mask",
                        ProductCategoryId = "MED001",
                        ValidFrom = DateTime.Now,
                        ValidTo = DateTime.Now
                    },
                    new Product
                    {
                        Id = "7",
                        Name = "Surgical Mask",
                        ProductCategoryId = "MED002",
                        ValidFrom = DateTime.Now,
                        ValidTo = DateTime.Now
                    },
                    new Product
                    {
                        Id = "8",
                        Name = "Three Layer Cotton Mask",
                        ProductCategoryId = "REU003",
                        ValidFrom = DateTime.Now,
                        ValidTo = DateTime.Now
                    },
                    new Product
                    {
                        Id = "9",
                        Name = "Three Layer HEPA Mask",
                        ProductCategoryId = "REU004",
                        ValidFrom = DateTime.Now,
                        ValidTo = DateTime.Now
                    },
                    new Product
                    {
                        Id = "10",
                        Name = "Single Use Wire Mask",
                        ProductCategoryId = "SIN002",
                        ValidFrom = DateTime.Now,
                        ValidTo = DateTime.Now
                    },
                    new Product
                    {
                        Id = "11",
                        Name = "Two Layer Antiseptic Mask",
                        ProductCategoryId = "REU005",
                        ValidFrom = DateTime.Now,
                        ValidTo = DateTime.Now
                    }
                }
            );
        }
    }

    //private List <Product> productsList;
    //private HubConnection hubConnection;

    //private List<ColumnDefinition> columnsDefinition;

    //protected override async Task OnInitializedAsync()
    //{
    //    hubConnection = new HubConnectionBuilder()
    //        .WithUrl(NavigationManager.ToAbsoluteUri("/ProductHub"))
    //        .Build();

    //    hubConnection.On("ReceiveMessage", () =>
    //    {
    //        CallLoadData();
    //        StateHasChanged();
    //    });

    //    await hubConnection.StartAsync();
    //    await LoadData();
    //    DefineColumnDefinitions();
    //}

    //private void DefineColumnDefinitions()
    //{
    //    if (columnsDefinition == null)
    //    {
    //        columnsDefinition = new List<ColumnDefinition>();
    //        columnsDefinition.AddRange(
    //            new ColumnDefinition[]{
    //                new ColumnDefinition {DataField = "Id", Caption = "Product Id"},
    //                new ColumnDefinition {DataField = "Name", Caption = "Product Name"},
    //                new ColumnDefinition {DataField = "ProductCategoryId", Caption = "Product Category Id"},
    //                new ColumnDefinition {DataField = "From", Caption = "Valid From", Format = "yyyy/MM/dd", DataType = DataType.Date},
    //                new ColumnDefinition {DataField = "To", Caption = "Valid To", Format = "yyyy/MM/dd", DataType = DataType.Date},
    //            }
    //        );
    //    }
    //}

    //private void CallLoadData()
    //{
    //    Task.Run(async () =>
    //    {
    //        await LoadData();
    //    });
    //}

    //protected async Task LoadData()
    //{
    //    productsList = await HttpClient.GetJsonAsync<List<Product>>("api/products");
    //    StateHasChanged();
    //}

    //public void Dispose()
    //{
    //    _ = hubConnection.DisposeAsync();
    //}

}