@inherits LayoutComponentBase

    <ToastContainer />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <BSButton ButtonType="ButtonType.Link" Color="Color.None" Class="oi oi-cart text-primary" href="basket"></BSButton>
        <LoginDisplay/>
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="container">
        @Body
    </div>

</div>