<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorApp</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <NavItem Route="products" Title="Products"></NavItem>
        <NavItem Route="productcategories" Title="Product Categories"></NavItem>
        <NavItem Route="productfeatures" Title="Product Features"></NavItem>
        <NavItem Route="pricecomponents" Title="Price Components"></NavItem>
        <NavItem Route="inventoryitems" Title="Inventory"></NavItem>
        <NavItem Route="parties" Title="Parties"></NavItem>
        <NavItem Route="partynames" Title="Party Names"></NavItem>
        <NavItem Route="partyroles" Title="Party Roles"></NavItem>
        <NavItem Route="orders" Title="My Orders"></NavItem>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
