@using MaskShop.PagesCore.Common.Extensions;
@model MaskShop.PagesCore.Shop.Parties.PartyRolesPage;

<body>
@Html.Show(m => m.Item.Id)
@Html.Show(m => m.Item.Role)
@Html.Show(m => m.Item.ValidFrom)
@Html.Show(m => m.Item.ValidTo)
</body>