@using BlazorApp.Server.Grid
@inject IFilters Filters

@if (Column == Filters.SortColumn)
{
    <span>@SortSymbol</span>
}
else
{
    <span>&nbsp;</span>
}
@code {

    [Parameter]
    public ProductFilterColumns Column { get; set; }

    private string SortSymbol => Filters.SortAscending ? "🔼" : "🔽";
}